/* Dark.css */
body.dark-theme {
    max-width: 720px;
    padding: 0 20px;
    color: #a9a9b3;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}
.dark-theme .mod-post__entry p {
    color: #a9a9b3;
}
.dark-theme .mod-post__entry img {
    opacity: 0.7;
}
.dark-theme .mod-post__entry a {
    color: #707070;
}
.dark-theme pre {
    background: #393e46;
    white-space: pre-wrap;
    font-weight: 500;
    word-break: break-all;
}
.dark-theme button.submit {
    color: #a9a9b3;
}
.dark-theme textarea {
    color: #a9a9b3;
}
.dark-theme .tags a {
    color: #a9a9b3;
}
.dark-theme .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #aaa;
    height: 2px;
    transition: all 0.5s ease;
    animation: light 2s ease-in-out infinite;
}
.dark-theme .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #b7daff;
    height: 2px;
    animation: light 8s ease-in-out infinite;
    transition: 0.5s;
}
.dark-theme .tags span {
    color: #aaaa;
}
.dark-theme ul li.links a {
    color: #28df99;
    line-height: 2.8;
    font-weight: 800;
}
body.dark-theme {
    background-image: url(../images/login_screen_bg_201230.png);
    color: #a9a9b3;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}
.dark-theme a {
    color: #a9a9b3;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}
.dark-theme a:hover {
    color: #28df99;
    text-decoration: none;
}
.dark-theme .navbar .menu .active {
    color: #fff;
}
.dark-theme .pagination .page-number:hover a {
    color: #fff;
}
.dark-theme .pagination .page-number:before,
.dark-theme .pagination .page-number:after {
    background: #fff;
}
.dark-theme .pagination .page-number.current {
    color: #fff;
}
.dark-theme .archive-item-link {
    color: #a9a9b3;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
}
.dark-theme .archive-item-link:hover {
    color: #fff;
}
.dark-theme .archive-item-date {
    color: #87878d;
}
.dark-theme .tag-cloud-tags a:active,
.dark-theme .tag-cloud-tags a:focus,
.dark-theme .tag-cloud-tags a:hover {
    color: #fff;
}
.dark-theme .tag-cloud-tags a small {
    color: #fff;
}
.dark-theme .post-wrap .post-meta {
    color: #87878d !important;
}
.dark-theme .post-wrap .post-meta a {
    color: #eee;
}
.dark-theme .post-wrap .post-meta a:hover {
    color: #fff;
}
.dark-theme .post-content h1::before,
.dark-theme .post-content h2::before,
.dark-theme .post-content h3::before,
.dark-theme .post-content h4::before {
    color: #eee;
}
.dark-theme .post-content a:hover {
    color: #fff;
    text-decoration: underline;
}
.dark-theme .post-content a {
    color: #eee;
}
.dark-theme .post-content table thead {
    background: #626262;
}
.dark-theme .post-content blockquote {
    color: #a9a9b3;
    background-color: #3e3e3e;
    border-left: 2px solid #dcdcdc;
}
.dark-theme .post-copyright a {
    color: #eee;
}
.dark-theme .post-copyright a:hover {
    color: #fff;
}
.dark-theme .post-copyright {
    border-top: 1px solid #909196;
    border-bottom: 1px solid #909196;
}
.dark-theme .post-content code {
    color: #fffe28;
    background: #787575;
}
.dark-theme .navbar-mobile .container .navbar-header .menu-toggle span {
    background: #a9a9b3;
}
.dark-theme .navbar-mobile .container .menu {
    background: #292a2d;
    border-top: 2px solid #87878d;
}
.dark-theme .navbar-mobile .container {
    background: #292a2d !important;
}

/* Animation for stars */
.dark-theme .stars {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: rotate(-35deg);
}

.dark-theme .star {
    --star-color: #ff7f40;
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: #d0ff4059;
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(150em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
    .dark-theme .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
}

.dark-theme .star:nth-child(1) {
    --star-tail-length: 6.07em;
    --top-offset: 18.71vh;
    --fall-duration: 6.295s;
    --fall-delay: 8.613s;
}

.dark-theme .star:nth-child(2) {
    --star-tail-length: 5.87em;
    --top-offset: 91.61vh;
    --fall-duration: 6.744s;
    --fall-delay: 5.299s;
}

/* ...Additional star nth-child definitions here... */

/* Keyframes for animations */
@keyframes fall {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-150em, 100vh, 0);
    }
}

@keyframes tail-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
